[submodule "Volum/vendor/spdlog"]
	path = Volum/vendor/spdlog
	url = ../../DiegoK98/spdlog.git
	branch = workingVersion
[submodule "Volum/vendor/GLFW"]
	path = Volum/vendor/GLFW
	url = ../../DiegoK98/GLFW.git
	branch = workingVersion
[submodule "Volum/vendor/ImGui"]
	path = Volum/vendor/ImGui
	url = ../../DiegoK98/imgui.git
	branch = workingVersion
[submodule "Volum/vendor/glm"]
	path = Volum/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
